.form-control {background-color: transparent; border-radius: 5px; border: 1px solid #ddd; padding: 0.325rem 0.7rem; font-size: .8rem; height: 30px;}
.btn {display: inline-block; padding: 0.3125rem 1rem; border-radius: 3px; text-align: center; font-size: 0.875rem; font-weight: 100; position: relative;}
.btn-border { display: inline-block; padding: 0.3125rem 1rem;background-color: transparent; border: 1px solid #002e71;}
.indigo-btn {background-color: #002e71; border: 1px solid #002e71; color: #fff;}
.table-search .search-bt {background-color: #002e71; height: 30px; line-height: 30px; margin-left: 5px; padding:0 0.325rem 0 1.4rem; font-size: 0.8rem; color: #fff;}
.table-search .search-bt::before {position: absolute; top: 50%; left: 5px; transform: translateY(-50%); content: '\e97a'; font-family: 'xeicon';}
.tab_area {width: 100%; overflow: hidden; }
.tab_area ul {display: block;}
.tab_area ul li {float: left; padding: 10px; border: 2px solid #0774e5; margin-right: 10px; font-size: 14px; font-weight: bold; cursor: pointer; color: #0774e5;}
.tab_area ul li.active {color: #fff; background-color: #0774e5; font-weight: bold;}
.tab-contents::before {content: ''; clear: both;}
.tab-contents{display: none;}
.tab-contents.active{display: block;}
.tabIntab {display: none; position: relative;}
.tabIntab.active{display: block;}