/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    .main-header h3{ font-size: 1.375rem;}
} 
  
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1024px)*/ 
@media all and (min-width:768px) and (max-width:1024px) {
  .container .row .card-6 , .card-5, .card-3 {width: 33.33333%; margin-bottom: 5px;}
  .container .row .card-4 , .card-2{width: 50%; margin-bottom: 5px;}
  .container .row .card-1 {width: 100%;}
} 


@media all and (min-width:560px) and (max-width:768px) {
  .container .row .card-1,.container .row .card-2,.container .row .card-3,.container .row .card-4,.container .row .card-5,.container .row .card-6 {width: 50% !important; margin-bottom: 5px;}
  .container .row .card-body .card-notice li .portlet-txt {width: 70%;}
}
  
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 768px)*/ 
@media all and (max-width:560px) {
  .container .row .card-1,.container .row .card-2,.container .row .card-3,.container .row .card-4,.container .row .card-5,.container .row .card-6 {width: 100% !important; margin-bottom: 5px;}
}
  