.dark {
  background-color: #363636;
  transition: background-color 0.5s ease-in-out;
}
.light {
  background-color: #fff;
  transition: background-color 0.5s ease-in-out;
}
.mode {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}
body.dark .mode .light-icon,
body:not(.dark) .mode .dark-icon {
  display: none;
}
.dark-icon {
  color: white;
}
