@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011a2f;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.todo-list {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
  background-color: #fff;
}

.todo-header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.todo-header--title {
  font-size: 18px;
  margin-bottom: 10px;
}

.todo-header--date {
  font-size: 14px;
  margin: 0;
}

.todo-body__item {
  position: relative;
  padding: 5px;
  color: #333;
}

.todo-body__item input[type="checkbox"] {
  margin-right: 3px;
}

.todo-body__item input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #666;
}

.todo-body__item i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.todo-add {
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.todo-add .input {
  width: 75%;
  margin-right: 3%;
  padding: 5px;
}

.todo-add .btn {
  width: 22%;
  background-color: #333;
  border: none;
  color: white;
  border-radius: 5px;
}
